body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: radial-gradient(circle at 10% 20%, rgb(254, 255, 165) 0%, rgb(255, 232, 182) 90%);;
  margin: 100px auto;
  max-width: 900px;
}

.Search {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  text-align: center;
}

h4{
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
  color:#EC6E4C;
  text-align: center;
}

ul {
  list-style-type: none;
}


input {
  border-style:none;
  background-color: rgb(243, 243, 243);
  border-radius: 6px;
  padding: 10px;
}

.city-input{
    font-size: 15px;
    height:50px;
    width: 100%;
}

.temperature{
  color: grey;
  text-align: center;
  font-size: 40px;
}

.unit{
  color: #EC6E4C;
  font-size: 16px;
}



.btn{
    background-color:rgb(248, 212, 135) ;
    color: white;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    height: 50px;
    text-align: center;
    border-radius: 6px;
    border-style: none;
    }

.btn:hover{
      color: #EC6E4C;
  }

.gitLink{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.261);
    margin:20px auto
}

.weather-app-wrapper {
  border-radius: 6px;
  padding: 30px;
  background: rgb(255, 255, 255);
  border: #dadde1;
}

.info{
  color:#EC6E4C;
  margin: 2px;
  text-align: left;
}

.WeatherTemperature{
  text-align: center;
}