body{
  background-color: #E5E3E4;
  margin-top: 100px;
}

.Weather .Search-form{
  background-color: #5ba1997a;
  color: white;
}

.Weather .btn{
    background-color:#DDBEAA ;
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    border-style: none;
    }

.Weather .btn:hover{
      background-color: #5BA199;
  }

ul{
  list-style-type: none;
}

.WeatherInfo h1 {
  margin-top: 40px;
  text-align: left;
  color: #000000;
  font-size: 60px;
  position: relative;
  left:30px;
  top:30px;
}

.WeatherTemperature{
  margin-top: 20px;
}

.WeatherTemperature .temperature{
    color: #DDBEAA;
    font-size: 80px;
    position: relative;
    left:30px
    
}  

.WeatherTemperature .unit{
    color: #BBC6C8;
    font-size: 25px;
    position: relative;
    top:-35px;
    left:30px;
}

.WeatherInfo .Icon{
  position: relative;
  left:30px;
  margin-top: 60px;
}
  
.WeatherInfo .Date-Description-Humidity-Wind{
  color: #BBC6C8;
}

.WeatherInfo .Humidity{
  color: #DDBEAA;
}
.WeatherInfo .Wind{
  color: #DDBEAA;
}

.WeatherForecast-day{
  color: #DDBEAA;
}

.WeatherForecast-temperature-max{
    font-weight: 600;
}

.WeatherForecast-day-icon{
  text-align: center;
  margin: 15px;
}

